* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar {
  flex: 1;
  text-align: right;
}

.navbar ul {
  display: inline-block;
  list-style: none;
}

.menu-items li {
  display: inline-block;
  padding-right: 20px;
  color: #555;
}

a {
  text-decoration: none;
  color: #555;
}

.cart-icon {
  padding-right: 20px;
  width: 40px;
  height: 40px;
}

.login {
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  background-color: #55aff8;
  color: #fcfcfc;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.login:hover {
  background-color: #555;
}

.main-container {
  background: radial-gradient(#55aff8, #ffffff);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}

.hero-banner,
.fearutre-section,
.product-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.column-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.column-2 img {
  width: 100%;
  padding: 50px 0;
}
.column-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.column-2 img {
  height: 100vh;
}

.btn {
  display: inline-block;
  background-color: #55aff8;
  color: #fcfcfc;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #555;
}

.categories {
  display: flex;
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.categories-container,
.products-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

.col-4 {
  flex-basis: 25%;
  min-width: 200px;
  padding: 10px;
  margin-top: 50px;
}

.col-4 img {
  max-width: 100%;
}
